.pattern {
    background-image: url('~assets/images/pattern.svg');
  }
.pattern2 {
  background-image: url('~assets/images/pattern-2.svg');
}
.sun-tornado {
  background-image: url('~assets/images/Sun-Tornado.svg');
}
.orange-curve {
  background-image: url('~assets/images/orange-curve.svg');
}
.black-curve {
  background-image: url('~assets/images/black-curve.svg');
}
.skod-bg {
  background-image: url('~assets/images/skod-bg.jpg');
}
.hero-bg {
  background-image: url('~assets/images/hero.jpg');
}
#suntornado {
    opacity: 0.1;
}

.prose a {
  @apply text-hh-orange;
}
.hvid .menu-items {
  @apply text-white;
}
.hvid .menu-items:hover {
  @apply text-hh-orange;
}
.nuxt-content-container textarea {
  color: #000000 !important;
}